@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #007173, #005859);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #002020d3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #005859;
    text-align: center;
    text-shadow: 1px 1px 2px #002020d3;
}

h2 {
    color: #007173;
}

p {
    text-align: justify;
}