@charset "UTF-8";

/*
    Em HTML é id    = em CSS é #
    Em HTML é class = em CSS é .
*/

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ffffff;
}

h1#principal {
    text-align: center;
    background-color: #4444444d;
}

h2 {
    color: #e0e0e0;
}

p {
    color: #cecece;
}